* {
  box-sizing: border-box;
}

body{
  background-color: #A799B7;
  font-family: arial, sans-serif;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

aside h2 {
  font-size: 2rem;
}

@media all and (min-width:500px) {
  aside h2:first-child {
    margin-top: 5px;
  }
}
